/* Write your CSS here */
.greet1 {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 300px;
}
.greet2 {
  color: aliceblue;
}
.button {
  background-color: lightskyblue;
  border-radius: 10px;
  margin: 10px;
}
